/*--------------------------------------------- HEADER SECTION STYLES --------------------------------------- */

header {
    padding: 30px 0px;
    background-color: $color-1;
    transition: all 0.4s ease;

    @include sm {
        padding: 25px 0px;
    }

    .logo {
        z-index: 2;
        img {
            width: 253px;
        }
    }
    .btn-custom {
        color: $color-1;
        background: #fff;

        @include md {
            font-size: 25px;
            line-height: 25px;
            padding: 0px 15px;
            height: 45px;
        }
        @include xs {
            font-size: 20px;
            line-height: 20px;
            padding: 0px 10px;
            height: 35px;
        }
    }
    .offcanvas.offcanvas-start {
        background-color: $color-1;
        width: 50%;

        @include sm {
            width: 60%;
        }

        @include xs {
            width: 70%;
        }
    }

    .offcanvas-header {
        padding: 16px 10px;
        img {
            width: 70%;
        }

        .btn-custom {
            color: #fff;
            background: $color-1;
        }
    }

    .navbar {
        padding: 0px;
        .navbar-nav {
            .nav-link {
                color: #fff;
                margin-left: 16px;

                &:hover {
                    color: #a9a1a1;
                }

                &.active {
                    color: #a9a1a1;
                }
            }
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 111;
    padding: 15px 0;
    box-shadow: 0 0 25px rgb(0 0 0 / 50%);
}
