/*--------------------------------------------- SERVICE SECTION STYLES --------------------------------------- */

#service-section {
    padding: 120px 0px 60px;

    @include md {
        padding: 60px 0px 40px;
    }

    .section-heading {
        @include md {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 50px;
            text-align: center;
        }

        @include xs {
            width: 90%;
        }

        @include xxs {
            width: 100%;
        }

        h2 {
            @include md {
                margin-bottom: 10px;
            }
        }

        p {
            @include md {
                margin-bottom: 20px;
            }
        }
    }

    .single-service {
        border: 1px solid #e9e7f0;
        border-radius: 8px;
        padding: 50px 25px;
        text-align: center;
        transition: all 0.6s ease;
        position: relative;

        @include xxs {
            padding: 25px 15px;
        }

        img {
            width: 88px;
            color: $color-1;
            margin-bottom: 13px;
            transition: all 0.4s ease;
        }

        h3 {
            text-transform: capitalize;
            color: #2b2828;
            font-weight: 600;
            margin-bottom: 7px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background-image: linear-gradient(#4245a9, #26136c);
            z-index: -1;
            opacity: 0;
            transition: all 0.4s ease;
        }

        &:hover {
            &::before {
                opacity: 1;
            }

            img {
                filter: brightness(100) contrast(1);
            }

            h3,
            p {
                color: #fff;
            }
        }
    }
}
