@import "global";
@import "typography";

#banner-section {
    background-color: $color-1;
    padding: 35px 0px 105px;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        background: {
            image: url(../img/banner-bg.png);
            repeat: no-repeat;
            position: left bottom;
        }
        position: absolute;
        width: 60%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    h1 {
        margin-bottom: 34px;
    }
    
    p {
        color: #fefefe;
        margin-bottom: 57px;
    }

    .btn-custom {
        background-color: #fff;
        color: $color-2;

        &:hover {
            background-color: $color-2;
            color: #fff;
        }
    }

    .carousel-indicators {
        bottom: -80px;
    }
}