// @import "typography";
// @import "global";
// @import "variables";

/*--------------------------------------------- CLIENT SECTION STYLES --------------------------------------- */ 

#client-section {
    text-align: center;
    padding: 60px 0px;

    .section-heading {
        width: 50%;
        margin: 0 auto;
    }

    .client-logo {
        height: 100%;
        border: 1px solid transparent;
        padding: 45px 0;

        &:hover {
            border: 1px solid #000;
            background-color: #F5F5F5;
        }
    }
}