/*-----------------------------------------------GLOBAL STYLES-------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: inherit;
    }
}

a {
    transition: all 0.4s ease;
    text-decoration: none;

    &:hover,
    &:focus,
    &:visited {
        outline: none;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    &:focus,
    &:hover {
        outline: none;
    }
}

.btn-custom {
    font: {
        weight: 700;
        size: 16px;
    }
    background-color: #313596;
    color: #fff;
    line-height: 43px;
    height: 45px;
    padding: 0px 30px;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid transparent;

    &:hover,
    &:focus {
        background-color: #fff;
        color: #313596;
        border: 1px solid #2b2828;
    }

    @include sm {
        line-height: 37px;
        height: 40px;
        padding: 0px 20px;
    }
}

.section-heading {
    margin-bottom: 56px;
    h2 {
        color: $color-1;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
}

.back__to__top {
    position: fixed;
    z-index: 111;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    @include theme-gradient;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    animation: fadeDown 0.4s linear forwards;

    &.active {
        animation: fadeUp 0.4s linear forwards;
        opacity: 1;
        pointer-events: unset;
        user-select: auto;
    }

    @include xs {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }
}

@keyframes fadeUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeDown {
    100% {
        transform: translateY(0%);
    }
    0% {
        transform: translateY(100%);
    }
}

.preloader {
    position: fixed;
    z-index: 111;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
